<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <a th:href="@{/users/update(id=${user.getId()})}">Update</a>

            <form th:method="DELETE" th:action="@{/users(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <br/>
    <hr/>
    <input type="button" value="Create new user" onclick="window.location.href='/users/new'">
</body>
</html>
